.row {
    display: flex;
   
   justify-content: space-around ;

    width:100%; /* to update*/

    border:1px solid black;

    margin-bottom:0%; 

    background-color:#CC9900;
   



  } 

  
  .presentation img{


    width:200px;
 
    height:100px;

    padding-left: 4%;

    padding-top:4%;


 
    
   }


   .presentation P{

    font-size:13px;

    margin-left:-13%;

   }
 

  @media screen and (min-width:200px) and (max-width:1000px)  {


    .row {
      flex-direction: column;
   
      margin: auto;
  
  
      width:1000px;
  
    
      
      background-color:#CC9900;
    }

  }



  /* Media Query pour cibler spécifiquement l'iPhone SE en mode portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {

  .row {
    flex-direction: column;
 
    margin: auto;

    width:1000px;

 
    background-color:#CC9900;
  }




}


/* Media Query pour cibler spécifiquement l'iPad Mini */
@media only screen 
  and (device-width: 768px) 
  and (device-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .row {
      flex-direction: column;
   
      margin: auto;

      width:1000px;

  
  
  
      background-color:#CC9900;
    }
  
}


/* Media Query pour cibler spécifiquement le Samsung Galaxy A51 */
@media only screen 
  and (device-width: 720px) /* Largeur en pixels */
  and (device-height: 1560px) /* Hauteur en pixels */
  and (-webkit-device-pixel-ratio: 2) /* Ratio de pixels */ {
 
    .row {
      flex-direction: column;
   
      margin: auto;

      width:1000px;
  
  
      background-color:#CC9900;
    }
  



}

@media only screen 

  and (max-width: 1780px) 
   {


    .presentation{


     
      background-color:rgba(199, 216, 67, 0.699);
  
      float:left;
  
      margin:auto;
  
      color:black;
  
   
      border:1px solid white;
  
      margin-bottom:3%;
  
   
  
  
      margin-top:-3%;
  
    
    
      width: 100%;
      height: 300px;
  
  
  
  
   
    
  
  
  
    }


  }
    


  .presentation{



    background-color:rgba(199, 216, 67, 0.699);

    justify-content: space-between;

   

    margin:auto;

    color:black;

 
    border:1px solid white;

    margin-bottom:3%;

 


    margin-top:-0.3%;


  
    width: 100%;



    display:flex; 
 

    flex-wrap: wrap;


 
  



  }

  
  .row:before,
  .row:after {
    content: '';
    flex: 0.5;
  }
  
  .col {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .col:nth-child(1) {
    order: -1
  }
  
  .col:nth-child(3) {
    order: 1;
}  



@media screen and (min-width:300px) and  (max-width:1008px) {


/*
  .presentation{

    margin-top:-0.1%;
    width: 100%;
    height: 800px;



    display:flex;
    
    justify-content: center;

    flex-wrap: wrap;

    font-size: 13px;





  }

  */

  .bloc_titre_logo{ 

    margin-right:-52%;
   
    clip-path:ellipse(33% 50%);
    
  
   
  
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#CC9900;
    width: 960px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    align-items: center;


    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color:#CC9900;
    width:990px;
    
  }

  
  

}


@media screen and (max-width:1023px){

  
  .row {
    flex-direction: column;
 
    margin: auto;


    width:100%;

  
    
    background-color:#CC9900;
  }


  

  



  /* end update */

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#CC9900;
    width: 960px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;

    justify-content:center;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color:#CC9900;
    width:990px;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#CC9900;
    width: 660px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color:#CC9900;
  }
}
 

.button_espace{
  flex: 1;
  display:flex;
  /*align-items:center;*/
  justify-content:center;

  color: black;

  padding: 26px 26px;
  border-radius: 45px;
  border: 4px solid black;

  background:#CC9900;

  text-decoration: none;
  margin-top:3%;
  margin-bottom:3%;
/* to update */
 
}







.titre{

    flex: 1;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: verdana;
    font-weight: bold;
    color:black;
    font-size: calc(8px + 0.5vw);
    padding: 8px 16px;
    text-decoration: none;
    margin-top:3%;
    margin-bottom:3%;



}


.bloc_titre_logo{ 
	width:200px;

   
  margin-left:-53%;

	clip-path:ellipse(33% 50%);


}

  
.row,.presentation{


   color:black;


}





.presentation P{
  
  padding:10px;
	text-align:justify;
	overflow-wrap:break-word;

}

.bloc_titre_boutonespace_image{
	width:30px;
	margin-right:5px;

}    

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#CC9900;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}




.dropdown:hover .dropdown-content {
  display: block;
}


.divexterne {

  background-color:rgba(199, 216, 67, 0.699);;
  
  width: 100%;
  
  
  
  }

.divexterne img{


width:300px;
height:300px;

}
  
.tableau {
  width: 100%;
  border-collapse: collapse;
  
  
}

.cellule {
  text-align: center;
  padding: 20px;
}

.cellule img {
  max-width: 100%;
  height: auto;
}