/* Styles généraux du menu et de la présentation */
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;           /* Centre verticalement le contenu */
  width: 100%;
  border: 1px solid black;
  background-color:rgb(153, 102, 51);
  min-height: 80px;              /* Hauteur réduite, à ajuster */
  padding-left: 10px;
  margin-bottom: 0;
}




.presentation img {
  width: 200px;
  height: 100px;
  padding-left: 4%;
  padding-top: 4%;
}

.presentation p {
  font-size: 13px;
  margin-left: -13%;
}

/* Media Queries pour responsive design */

@media screen and (min-width:200px) and (max-width:1000px) {
  .row {
    flex-direction: column;
    margin: auto;
    width: 1000px;
    background-color:rgb(153, 102, 51);
  }
}

/* iPhone SE en portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .row {
    flex-direction: column;
    margin: auto;
    width: 1000px;
    background-color:rgb(153, 102, 51);
  }
}

/* iPad Mini */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .row {
    flex-direction: column;
    margin: auto;
    width: 1000px;
    background-color:rgb(153, 102, 51);
  }
}

/* Samsung Galaxy A51 */
@media only screen and (device-width: 720px) and (device-height: 1560px) and (-webkit-device-pixel-ratio: 2) {
  .row {
    flex-direction: column;
    margin: auto;
    width: 1000px;
    background-color:rgb(153, 102, 51);
  }
}

@media only screen and (max-width: 1780px) {
  .presentation {
    background-color: rgba(199, 216, 67, 0.699);
    float: left;
    margin: auto;
    color: black;
    border: 1px solid white;
    margin-bottom: 3%;
    margin-top: -3%;
    width: 100%;
    height: 300px;
  }
}

.presentation {
  background-color: rgba(199, 216, 67, 0.699);
  justify-content: space-between;
  margin: auto;
  color: black;
  border: 1px solid white;
  margin-bottom: 3%;
  margin-top: -0.3%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row:before,
.row:after {
  content: '';
  flex: 0.5;
}

.col {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.col:nth-child(1) {
  order: -1;
}

.col:nth-child(3) {
  order: 1;
}

@media screen and (min-width:1001px) and (max-width:1024px) {

  .bloc_titre_logo {
    width: 20%;
    height: 24%;            /* Réduction de la taille du logo */
    margin-left: -37%;
    clip-path: ellipse(33% 50%);
  }

}


@media screen and (min-width:1001px) and (max-width:1024px) {

  .bloc_titre_boutonespace_image {
    width: 30px;
  
    border-radius: 10px;
  }

}


@media screen and (min-width:1024px) {

  .bloc_titre_boutonespace_image {
    width: 30px;
 
    border-radius: 10px;
  }

}


@media screen and (min-width:1024px) {

  .bloc_titre_logo {
    width: 20%;
    height: 110px;            /* Réduction de la taille du logo */
    margin-left: -90%;
    clip-path: ellipse(33% 50%);
  }

}




@media screen and (min-width:300px) and (max-width:700px) {
  .bloc_titre_logo {
    margin-right: -52%;
    margin-left: -57%;
    
    clip-path: ellipse(33% 50%);
    width: 15%;
    height: 15%;
 
  
  }

}
@media screen and (min-width:700px) and (max-width:1008px) {
  .bloc_titre_logo {
    margin-right: -52%;
    margin-left: -57%;
    clip-path: ellipse(33% 50%);
    width: 20%;
    height: 20%;
 
  
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(153, 102, 51);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    align-items: center;
    z-index: 1;
  }

}


@media screen and (min-width:300px) and (max-width:1008px) {
  .row {
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color:rgb(153, 102, 51);
  }

}

/* Ajustements pour réduire la hauteur du menu */
.button_espace {
  flex: 1;
  display: flex;
  justify-content:right;
  align-items: center;
  color: black;
           /* Padding réduit */
  background-color:rgb(153, 102, 51);
  text-decoration: none;
  margin: 5px 0;           /* Marges verticales réduites */
}


@media screen and (min-width:1024px){

  .titre {
    flex: 1;
    display: flex;

    white-space: nowrap;

    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 45px;
    padding: 4px 4px;        /* Padding réduit */
    text-decoration: none;
    margin: 5px 0;           /* Marges verticales réduites */
  }



}


@media screen and (min-width:768px) and (max-width:1023px) {
  .titre {
    flex: 1;
    display: flex;

    white-space: nowrap;


    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
    padding: 4px 8px;        /* Padding réduit */
    text-decoration: none;
    margin: 5px 0;           /* Marges verticales réduites */
  }
}



@media screen and (max-width:768px){
  .titre {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 24px;
    padding: 4px 8px;        /* Padding réduit */
    text-decoration: none;
    margin: 5px 0;           /* Marges verticales réduites */
  }
}




.row,
.presentation {
  color: black;
}

.presentation p {
  padding: 10px;
  text-align: justify;
  overflow-wrap: break-word;
}

.bloc_titre_boutonespace_image {
  width: 30px;
  margin-right: 5px;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}





.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(153, 102, 51);

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  width:100%;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color:rgb(153, 102, 51);
  width: 100%;
}

.divexterne {
  background-color: rgba(199, 216, 67, 0.699);
  width: 100%;
}

.divexterne img {
  width: 300px;
  height: 300px;
}

.tableau {
  width: 100%;
  border-collapse: collapse;
}

.cellule {
  text-align: center;
  padding: 20px;
}

.cellule img {
  max-width: 100%;
  height: auto;
}

.HideShow {
  position: absolute;
  z-index: 2;
  padding: 10px 20px;
  background-color: rgba(199, 216, 67, 0.699);
  color: black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.divexterne {
  background-color: rgba(199, 216, 67, 0.699);
  width: 100%;
  position: relative;
  z-index: 1;
}

@media screen and (min-width:300px) and (max-width:1000px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(153, 102, 51);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    align-items: center;
    z-index: 1;
  }


  .dropdown:hover .dropdown-content {
    display: none;
    background-color:rgb(153, 102, 51);
    width: 100%;
  }


}