
.module_container{

  color: black;   
          
  width:100%; 

  display:flex; /*  aligne les elements de container */

  justify-content: space-around;

  flex-wrap: wrap;

  margin-top:23%;
   

        
             

}

.module_element{

  padding: 8px 16px;
  border-radius: 45px;
  border: 4px solid black;
  background-color:rgba(199, 216, 67, 0.699);
  align-items: center;


}

.module_element img{

  padding: 8px 16px;


  width:100px;

  height:100px;
  
}

  

@media screen and (min-width:0px) and (max-width:1023px){
  

.module_container{

  color: black;

  width:100%; 

  display:flex; /*  aligne les elements de container */

  justify-content: space-around;

  flex-wrap: wrap;





}

.module_element{

  padding: 8px 16px;
  border-radius: 45px;
  border: 4px solid black;
  background-color:rgba(199, 216, 67, 0.699);;

  
}
  
/*

@media screen and (min-width:0px) and (max-width:1023px){
  



}


*/


/*AJOUT */ 

  
a{ 

     

  text-decoration: none;

  color:black;  
}







}





/*AJOUT */ 

  
a{ 

     

  text-decoration: none;

  color:black;  
}






